<header class="p-4 pl-6 flex items-center justify-between bg-white rounded-lg">
  <img src="assets/images/Logo.png" />
  <ul class="flex gap-4">
    <li
      routerLink="links"
      routerLinkActive="active"
      class="text-gray-primary hover:text-green-primary cursor-pointer py-3 px-7 rounded-md flex items-center"
    >
      <a>Links</a>
    </li>
    <li
      routerLink="profile/details"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-gray-primary hover:text-green-primary cursor-pointer px-7 rounded-md py-3 flex items-center"
    >
      <a>Profile Details</a>
    </li>
  </ul>
  <a
    routerLink="profile/preview"
    class="border-[1px] border-green-primary text-green-primary px-7 py-3 rounded-lg"
    >Preview</a
  >
</header>
